.todo-list {
    flex-grow: 1;
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: fit-content;
    border-radius: 15px;
}

.todo-list-status {
    font-size: 25px;
    color: white;
    padding-top: 10px;
}

.p-empty {
    font-size: 20px;
    color: white;
}