.todo-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 1.25em;
}

.todo-card-data {
    padding: 1.25em;
    border-radius: 5px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #2a2a2a;
    padding: 5px;
}

.todo-card-button-show {
    font-size: medium;
}

.todo-card-button-hide {
    font-size: medium;
    visibility: hidden;
}

.todo-card p {
    margin: 5px;
}

.on-hold {
    background-color: lightyellow;
}

.in-progress {
    background-color: lightblue;
}

.completed {
    background-color: lightgreen;
}